{% extends 'index.html' %}
{% load static %}


{% block filtr %}{% endblock %}
{% block content %}

    <style type="text/css">
        .bullet p {
            position: relative;
            margin-bottom: 1.5em;
            border: 3px solid #1f66ea;
            padding: 0.6em;
            border-radius: 4px;
            background: #FEFEFE;
            color: #231F20;
            font-family: "Trebuchet MS", "Lucida Sans";
        }

        .bullet li {
            cursor: pointer;
        }

        {#.bullet p:before {#}
        {#    position: absolute;#}
        {#    top: -0.7em;#}
        {#    padding-left: 0.4em;#}
        {#    padding-right: 0.4em;#}
        {#    font-size: 16px;#}
        {#    font-weight: bold;#}
        {#    color: #DCC24B;#}
        {#    background: #FEFEFE;#}
        {#    border-radius: 50%;#}
        {#    counter-increment: li;#}
        {#    content: counter(li);#}
        {# } #}
    </style>
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'map' %}">{# #dashboard #}
                            <i class="simple-icon-map"></i>
                            <span>Карта контроля</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'statistics' %}">{# #layouts#}
                            <i class="iconsminds-monitor-analytics"></i> Статистика
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'predict' %}">{# #applications#}
                            <i class="iconsminds-statistic"></i> Прогноз
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'location' %}">{# #ui#}
                            <i class="iconsminds-map2"></i> Засечь место
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'create_model' %}">{# #menu#}
                            <i class="iconsminds-coding"></i> Создание модели
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'docs' %}">
                            <i class="iconsminds-library"></i> Информация
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <main>
        <div class="row equal-height-container">

            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            {#                                <i class="iconsminds-director large-icon"></i>#}
                            <img style="margin-bottom: 5%; margin-top: 5%;"
                                 src="{% static 'img/stations/logo.png' %}" width="8%">
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Мониторинг дорожной ситуации</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">Сенсоры</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="87"
                                             aria-valuemax="100"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/mobil_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">

                                        <div>
                                            <p class="lead text-white">Детекторый движения</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="93"
                                             aria-valuemax="100"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/ti_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">Камеры видеофиксации</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="1424"
                                             aria-valuemax="1424"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/vis_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">Дорожные специализированные предприятия</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="122"
                                             aria-valuemax="122"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/ezd_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">Стационарные пункты мониторинга</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="18"
                                             aria-valuemax="18"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <i class="iconsminds-security-settings large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Функции ИСОДД</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                            <p class="text-muted mb-4">Интеллектуальная система организации дорожного движения выполняет следующие функции:</p>
                            <ul class="list-unstyled mb-0">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr class="odd">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Сбор данных о дорожном движении, включая параметры транспортных и пассажирских потоков, дорожных условий, действующей организации дорожного движения, параметры экологического ущерба от дорожного движения, статистику ДТП, данные по парковкам и местам временного отстоя транспорта
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Оценка существующих транспортных потоков, схем и стратегий организации дорожного движения;
моделирование городских транспортных и пассажирских потоков
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Разработка рекомендаций по повышению эффективности и безопасности организации дорожного движения в г. Москве
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Планирование, проектирование, внедрение безопасных и эффективных программ и схем организации дорожного движения, в том числе систем регулирования дорожного движения, оптимизации размещения светофорных объектов, информационных систем для обеспечения наибольшей эффективности использования дорог и дорожно-транспортных сооружений
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Подготовка консолидированной сметы расходов на организацию дорожного движения и парковок для включения в годовой бюджет Правительства Москвы, включая капитальные затраты на внедрение стратегий, планов и схем, рекомендуемых ГКУ ЦОДД к проектированию и внедрению</td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Назначение экспертиз проектов по организации дорожного движения, комплексных схем организации движения, проектов строительства и реконструкции дорожной сети, маршрутов и схем движения пассажирского транспорта, проектов размещения всех видов наружной рекламы и т.д., разработанных другими организациями, влияющими на условия дорожного движения
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Участие в разработке федеральных и городских проектно-планировочных принципов и норм для технических средств, используемых при организации дорожного движения и рекомендуемых к эксплуатации в городе Москве
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Подготовка проектов законодательных актов и нормативов в рамках юрисдикции Правительства Москвы, а также методического обеспечения, необходимого для создания безопасной, эффективной системы управления и организации дорожного движения и парковок
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <style>
                .lead {
                    font-size: 0.8rem;
                }
            </style>


            <div class="col-md-12 col-xl-12 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <img src="{% static 'img/question.png' %}" class="fa fa-question">
                            <p></p>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Часто задаваемые вопросы</h5>
                        </div>

                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">


                            <ol class="bullet" id="wozd">
                                <li><h3>Что такое Акселератор Транспортные инновации Москвы? <img data-v-2fe5cac6=""
                                                                                   src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Акселератор Транспортные инновации Москвы — программа Московского транспорта по привлечению стартапов для пилотирования инновационных технологических решений в организациях Московского транспорта. Продолжительность программы 2 месяца. Цель - помочь стартапам и организациям Московского транспорта запустить совместные пилотные проекты для решения транспортных задач и повышения эффективности Московского транспорта.</p>
                                </li>
                                <li><h3>Могу ли я подать заявку, если мой продукт не связан напрямую с транспортом? <img data-v-2fe5cac6=""
                                                                           src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Мы в любом случае рассмотрим все заявки. От промышленного дизайна до рекламных технологий. Но приоритет для участия в акселераторе будет отдан проектам, соответствующим технологическим направлениям отбора.</p>
                                </li>
                                <li><h3>Могу ли я подать заявку, если я являюсь сотрудником транспортного комплекса?<img data-v-2fe5cac6=""
                                                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Мы готовы рассматривать заявки от внутренних команд. Если у вас есть интересное решение и желание стать предпринимателем, то не видим причин в отказе.</p>
                                </li>
                                <li><h3>Могу ли я подать заявку, если у меня нет MVP, но есть хорошая идея?<img data-v-2fe5cac6=""
                                                                                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Для подачи заявки у вас должен быть MVP или прототип решения.</p>
                                </li>
                                <li><h3>Моего вопроса тут нет, что мне делать?<img data-v-2fe5cac6=""
                                                                                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Напишите нам на почту accelerator@ftim.ru c темой письма "Вопрос по акселератору ТИМ". А также присоединяйтесь к нашей группе в telegram, где мы сообщаем о наших новостях.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <i class="iconsminds-box-with-folders large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Руководящие документы</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                            <div class="row">
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/4136-----28092011-n-755--q------------q"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">РПМ № 755-РП</p>
                                            <p class="lead text-center">2011</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/60--6-110111-l-r"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">РПМ № 6-РП</p>
                                            <p class="lead text-center">2011</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/62--1610-3-2010-l-19-2007-n-272-r"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">РПМ № 1610-РП</p>
                                            <p class="lead text-center">2010</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/63--661-3-2010-l-r"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">РПМ № 661-ПП</p>
                                            <p class="lead text-center">2010</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/19-2011-09-09-07-05-11"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">Регламент РГК</p>
                                            <p class="lead text-center">2005</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/64--470-4-2006-l-r"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">ППМ № 470-ПП</p>
                                            <p class="lead text-center">2006</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/65--438-14-2005-l-r" class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">ППМ № 438-ПП</p>
                                            <p class="lead text-center">2005</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="http://www.gucodd.ru/index.php/dokumentaciya/npa/66--1129-7-1999-l-r"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">ППМ № 1129</p>
                                            <p class="lead text-center">1999</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

{#                            <div class="row mt-4">#}
{#                                <div class="col-3 glide__slide">#}
{#                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2020/02/Квартальный-отчет-2-кв.2019.pdf"#}
{#                                       class="card">#}
{#                                        <div class="card-body text-center">#}
{#                                            <i class="iconsminds-file-zip"></i>#}
{#                                            <p class="card-text mb-0">2 квартал</p>#}
{#                                            <p class="lead text-center">2019</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="col-3 glide__slide">#}
{#                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2021/01/Квартальный-отчет-3-кв.2019.pdf"#}
{#                                       class="card">#}
{#                                        <div class="card-body text-center">#}
{#                                            <i class="iconsminds-file-zip"></i>#}
{#                                            <p class="card-text mb-0">3 квартал</p>#}
{#                                            <p class="lead text-center">2019</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="col-3 glide__slide">#}
{#                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2021/01/Квартальный-отчет-4-кв.2019.pdf"#}
{#                                       class="card">#}
{#                                        <div class="card-body text-center">#}
{#                                            <i class="iconsminds-file-zip"></i>#}
{#                                            <p class="card-text mb-0">4 квартал</p>#}
{#                                            <p class="lead text-center">2019</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="col-3 glide__slide">#}
{#                                    <a href="https://www.mnr.gov.ru/docs/gosudarstvennye_doklady/" class="card">#}
{#                                        <div class="card-body text-center">#}
{#                                            <i class="iconsminds-file-zip"></i>#}
{#                                            <p class="card-text mb-0">Госдоклад ООС</p>#}
{#                                            <p class="lead text-center">2019</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{##}
{#                            </div>#}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <i class="iconsminds-newspaper large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Наши партнеры</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">

                            <div class="row">
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://thumb.tildacdn.com/tild6230-3132-4138-b534-663165316463/-/resize/320x/-/format/webp/noroot.png"
                                                 style="width: 60%">
{#                                            <p class="card-text mb-0">Управление</p>#}
{#                                            <p class="card-text mb-0">Роспотребнадзора</p>#}
{#                                            <p class="card-text mb-0">по городу</p>#}
{#                                            <p class="card-text mb-0">Москве</p>#}
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://static.tildacdn.com/tild6334-3235-4861-a465-333664343362/_.svg"
                                                 style="width: 60%">
{#                                            <p class="card-text mb-0">Институт</p>#}
{#                                            <p class="card-text mb-0">Генплана</p>#}
{#                                            <p class="card-text mb-0">Москвы</p>#}
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://thumb.tildacdn.com/tild6662-3465-4532-a135-326430663166/-/resize/320x/-/format/webp/cloud-logo-grad.png"
                                                 style="width: 60%">
{#                                            <p class="card-text mb-0">МАДИ</p>#}
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="row" style="margin-top: 10%">
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://thumb.tildacdn.com/tild6462-6262-4461-a336-323663363936/-/resize/320x/-/format/webp/logo-head.png"
                                                 style="width: 60%">
{#                                            <p class="card-text mb-0">МГУ</p>#}
{#                                            <p class="card-text mb-0">им. Ломоносова</p>#}
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://static.tildacdn.com/tild3862-6332-4937-b864-366233303432/kaspersky-logoe79ac6.svg"
                                                 style="width: 60%">
{#                                            <p class="card-text mb-0">Гидрометцентр</p>#}
{#                                            <p class="card-text mb-0">России</p>#}
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://static.tildacdn.com/tild3539-3134-4033-b236-383236616166/logo_1.svg"
                                                 style="width: 60%">
{#                                            <p class="card-text mb-0">Институт</p>#}
{#                                            <p class="card-text mb-0">физики</p>#}
{#                                            <p class="card-text mb-0">атмосферы</p>#}
                                        </div>
                                    </a>
                                </div>

                            </div>

{#                            <div class="row">#}
{#                                <div class="col-4 glide__slide">#}
{#                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">#}
{#                                        <div class="card-body text-center align-items-center"#}
{#                                             style="padding: 0; justify-content: flex-start">#}
{#                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/rosprirodnadzor_emb_n8355.gif"#}
{#                                                 style="width: 60%">#}
{#                                            <p class="card-text mb-0">Росприроднадзор</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="col-4 glide__slide">#}
{#                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">#}
{#                                        <div class="card-body text-center align-items-center"#}
{#                                             style="padding: 0; justify-content: flex-start">#}
{#                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/ЦОДД.b4687c510f166a82a4dc7d7e123cd02e-2.png"#}
{#                                                 style="width: 60%">#}
{#                                            <p class="card-text mb-0">Центр</p>#}
{#                                            <p class="card-text mb-0">организации</p>#}
{#                                            <p class="card-text mb-0">дорожного</p>#}
{#                                            <p class="card-text mb-0">движения</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="col-4 glide__slide">#}
{#                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">#}
{#                                        <div class="card-body text-center align-items-center"#}
{#                                             style="padding: 0; justify-content: flex-start">#}
{#                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/17292_html_1506d2bd-1.png"#}
{#                                                 style="width: 60%">#}
{#                                            <p class="card-text mb-0">ГУ МЧС по</p>#}
{#                                            <p class="card-text mb-0">г. Москве</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{##}
{#                            </div>#}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables.min.js' %}"></script>
    <script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/progressbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/vendor/Sortable.js' %}"></script>
    <script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/docs.js' %}"></script>
{% endblock %}

