{% extends 'index.html' %}
{% load static %}


{% block filtr %}{% endblock %}
{% block content %}

    <style type="text/css">
        .bullet p {
            position: relative;
            margin-bottom: 1.5em;
            border: 3px solid #1f66ea;
            padding: 0.6em;
            border-radius: 4px;
            background: #FEFEFE;
            color: #231F20;
            font-family: "Trebuchet MS", "Lucida Sans";
        }

        .bullet li {
            cursor: pointer;
        }

        {#.bullet p:before {#}
        {#    position: absolute;#}
        {#    top: -0.7em;#}
        {#    padding-left: 0.4em;#}
        {#    padding-right: 0.4em;#}
        {#    font-size: 16px;#}
        {#    font-weight: bold;#}
        {#    color: #DCC24B;#}
        {#    background: #FEFEFE;#}
        {#    border-radius: 50%;#}
        {#    counter-increment: li;#}
        {#    content: counter(li);#}
        {# } #}
    </style>
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'map' %}">{# #dashboard #}
                            <i class="simple-icon-map"></i>
                            <span>Карта контроля</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'statistics' %}">{# #layouts#}
                            <i class="iconsminds-monitor-analytics"></i> Статистика
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'predict' %}">{# #applications#}
                            <i class="iconsminds-statistic"></i> Прогноз
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'location' %}">{# #ui#}
                            <i class="iconsminds-map2"></i> Засечь место
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'create_model' %}">{# #menu#}
                            <i class="iconsminds-coding"></i> Создание модели
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'docs' %}">
                            <i class="iconsminds-library"></i> Информация
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <main>
        <div class="row equal-height-container">

            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            {#                                <i class="iconsminds-director large-icon"></i>#}
                            <img style="margin-bottom: 5%; margin-top: 5%;"
                                 src="https://mosecom.mos.ru/wp-content/uploads/2018/02/1.png">
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Мониторинг атмосферного
                                воздуха</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">54 автоматических станций контроля
                                                загрязнения</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="54"
                                             aria-valuemax="54"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/mobil_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">

                                        <div>
                                            <p class="lead text-white">4 мобильные станции</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="4"
                                             aria-valuemax="4"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/ti_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">6 станций на территории ТиНАО</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="6"
                                             aria-valuemax="6"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/vis_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">3 высотных станции на Останкинской телебашне</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="3"
                                             aria-valuemax="3"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4 progress-banner" style="max-height: 30%;">
                                <div class="card-body justify-content-between d-flex flex-row align-items-center"
                                     style="padding: 0.5rem 2.75rem 0.5rem 2.75rem">
                                    <div>
                                        {#                                            <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block" style="margin-bottom: 0;"></i>#}
                                        <img src="{% static 'img/stations/ezd_stat.svg' %}"
                                             style="width: 10%; color: #FFFFFF">
                                        <div>
                                            <p class="lead text-white">3 Передвижные экологические лаборатории</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div role="progressbar"
                                             class="progress-bar-circle progress-bar-banner position-relative"
                                             data-color="white"
                                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="3"
                                             aria-valuemax="3"
                                             data-show-percent="false">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <i class="iconsminds-security-settings large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Основные направления нашей
                                деятельности</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                            <p class="text-muted mb-4">Основными направлениями деятельности МОСЭКОМОНИТОРИНГА
                                являются:</p>
                            <ul class="list-unstyled mb-0">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr class="odd">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Осуществление государственного экологического мониторинга на
                                            территории города Москвы (регулярные наблюдения за состоянием атмосферного
                                            воздуха, поверхностных водных объектов, почв, зеленых насаждений, уровней
                                            шума, опасных геоэкологических процессов)
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Эксплуатация автоматических станций контроля загрязнения
                                            атмосферы, водных объектов, шума.
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Проведение экологических обследований территорий города по
                                            обращениям населения, органов власти, городских организаций и т.д.
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Осуществление технического контроля за созданием и работой
                                            автоматических систем контроля промышленных выбросов на крупнейших
                                            предприятиях Москвы и контроль результатов измерений.
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Анализ данных о состоянии природных сред в городе Москве.</td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Предоставление экологической информации различным категориям
                                            пользователей и населению, в том числе через официальный сайт в
                                            информационно-телекоммуникационной сети «Интернет».
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Ведение Единого городского фонда данных экологического
                                            мониторинга.
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <th scope="row"><img
                                                src="https://mosecom.mos.ru/wp-content/themes/moseco/img/wave.png"></th>
                                        <td colspan="2">Входим в состав Единой системы оперативно-диспетчерского
                                            управления в чрезвычайных ситуациях города Москвы (ГУ МЧС России по городу
                                            Москве).
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <style>
                .lead {
                    font-size: 0.8rem;
                }
            </style>


            <div class="col-md-12 col-xl-12 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <img src="{% static 'img/question.png' %}" class="fa fa-question">
                            <p></p>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Часто задаваемые вопросы</h5>
                        </div>

                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">


                            <ol class="bullet" id="wozd">
                                <li><h3>Как мы рассчитываем качество воздуха? <img data-v-2fe5cac6=""
                                                                                   src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Чтобы ежечасно предоставлять надежную и привязанную к
                                        местоположению информацию о качестве воздуха, BreezoMeter выполняет сотни
                                        расчетов качества воздуха одновременно.
                                        Мы учитываем несколько источников загрязнения воздуха, в том числе:
                                        данные о дорожном движении в реальном времени;
                                        информация с официальных правительственных датчиков;
                                        сеть недорогих локальных датчиков;
                                        спутниковые данные;
                                        прогноз погоды и метеорологическая информация;
                                        отчеты об активных пожарах;
                                        почвенно-растительный покров и другое;
                                        сложные алгоритмы, несколько моделей и технологии машинного обучения.
                                        Конечным результатом является информация о качестве воздуха в реальном времени с
                                        точностью до 5 метров/16 футов.</p>
                                </li>
                                <li><h3>Как мы обеспечиваем точность? <img data-v-2fe5cac6=""
                                                                           src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Что касается воздуха, которым мы дышим, ненадежная или
                                        устаревшая информация может принести больше вреда, чем ее отсутствие.
                                        Поэтому мы постоянно работаем над точностью, чтобы
                                        обеспечить надежность предоставляемой информации.</p>
                                </li>
                                <li><h3>Что такое AQI? <img data-v-2fe5cac6=""
                                                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Показатель качества воздуха (AQI) – это способ, с помощью
                                        которого различные органы власти предпочитают сообщать общественности о качестве
                                        воздуха. Различные системы AQI отличаются в разных аспектах:
                                        - Категории здоровья, их масштаб и цвета.
                                        - Исследованные типы загрязняющих веществ.
                                        - Время усреднения для каждого типа загрязнителя (1ч-24ч).</p>
                                </li>
                                <li><h3>В чем разница между местным AQI и BreezoMeter AQI? <img data-v-2fe5cac6=""
                                                                                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA0LjI0M2w0LjI0MyA0LjI0MiA0LjI0Mi00LjI0MiIgc3Ryb2tlPSIjOEM4QzhDIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==">
                                </h3>
                                    <p style="display: none;">Показатель качества воздуха BreezoMeter (BAQI) вы можете
                                        исп
                                        ользовать в любой точке мира и сравнивать разные местоположения.
                                        Иногда вы можете видеть разные значения AQI, глядя на местные
                                        показатели и показатели BreezoMeter (или вообще на другую категорию
                                        качества воздуха). Это связано с разным способом построения</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <i class="iconsminds-box-with-folders large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Отчеты</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">
                            <div class="row">
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2021/07/PDpolicy.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">Политика ОПД</p>
                                            <p class="lead text-center">2012</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2019/07/СОУТ270619.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">СОУТ</p>
                                            <p class="lead text-center">270619</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2020/07/СОУТ13072020.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">СОУТ</p>
                                            <p class="lead text-center">13072020</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2020/11/СОУТ30112020.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">СОУТ</p>
                                            <p class="lead text-center">30112020</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2020/02/Основные-положения-УП-на-2019.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">Положения УП</p>
                                            <p class="lead text-center">2019</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2021/07/PDpolicy.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">Политика ГПБУ</p>
                                            <p class="lead text-center">27.07.2006</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/salary/" class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">ИНФО ЗП</p>
                                            <p class="lead text-center">2017-2020</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2019/05/Квартальный-отчет-1-кв.-2019.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">1 квартал</p>
                                            <p class="lead text-center">2019</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="row mt-4">
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2020/02/Квартальный-отчет-2-кв.2019.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">2 квартал</p>
                                            <p class="lead text-center">2019</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2021/01/Квартальный-отчет-3-кв.2019.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">3 квартал</p>
                                            <p class="lead text-center">2019</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://mosecom.mos.ru/wp-content/uploads/2021/01/Квартальный-отчет-4-кв.2019.pdf"
                                       class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">4 квартал</p>
                                            <p class="lead text-center">2019</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 glide__slide">
                                    <a href="https://www.mnr.gov.ru/docs/gosudarstvennye_doklady/" class="card">
                                        <div class="card-body text-center">
                                            <i class="iconsminds-file-zip"></i>
                                            <p class="card-text mb-0">Госдоклад ООС</p>
                                            <p class="lead text-center">2019</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-6 mb-4 col-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-column">
                        <div class="text-center">
                            <i class="iconsminds-newspaper large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">Наши партнеры</h5>
                        </div>
                        <div class="pl-3 pr-3 pt-3 pb-0 d-flex flex-column flex-grow-1">

                            <div class="row">
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/4c08052159d088273d79e7b2af2b84a3-1.jpg"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">Управление</p>
                                            <p class="card-text mb-0">Роспотребнадзора</p>
                                            <p class="card-text mb-0">по городу</p>
                                            <p class="card-text mb-0">Москве</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/Логотип_Института_Генплана_Москвы.svg_.png"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">Институт</p>
                                            <p class="card-text mb-0">Генплана</p>
                                            <p class="card-text mb-0">Москвы</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/madi.jpg"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">МАДИ</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/mgu.png"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">МГУ</p>
                                            <p class="card-text mb-0">им. Ломоносова</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/gidro.png"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">Гидрометцентр</p>
                                            <p class="card-text mb-0">России</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/ifa.png"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">Институт</p>
                                            <p class="card-text mb-0">физики</p>
                                            <p class="card-text mb-0">атмосферы</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/rosprirodnadzor_emb_n8355.gif"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">Росприроднадзор</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/ЦОДД.b4687c510f166a82a4dc7d7e123cd02e-2.png"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">Центр</p>
                                            <p class="card-text mb-0">организации</p>
                                            <p class="card-text mb-0">дорожного</p>
                                            <p class="card-text mb-0">движения</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 glide__slide">
                                    <a href="#" class="card" style="box-shadow: 0 0 0 0">
                                        <div class="card-body text-center align-items-center"
                                             style="padding: 0; justify-content: flex-start">
                                            <img src="https://mosecom.mos.ru/wp-content/uploads/2018/01/17292_html_1506d2bd-1.png"
                                                 style="width: 60%">
                                            <p class="card-text mb-0">ГУ МЧС по</p>
                                            <p class="card-text mb-0">г. Москве</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables.min.js' %}"></script>
    <script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/progressbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/vendor/Sortable.js' %}"></script>
    <script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/docs.js' %}"></script>
{% endblock %}

