<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>МОСЭКОМОНИТОРИНГ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body style="margin:0; padding:0; background-color:#f8f8f8; padding-top: 10px;">
<div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
     style="height:auto !important;width:100% !important; font-family: Helvetica,Arial,sans-serif !important; margin-bottom: 40px;">
    <center>
        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
               style="max-width:600px; background-color:#ffffff;border:1px solid #e4e2e2;border-collapse:separate !important; border-radius:4px;border-spacing:0;color:#242128; margin:0;padding:40px;"
               heigth="auto">
            <tbody>
            <tr>
                <td align="left" valign="center"
                    style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
                    <img src="https://startrekteam.ru/templates/hackaton/black.svg" width="70%"/>
                </td>
                <td align="right" valign="center"
                    style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
                    <span style="color: #8f8f8f; font-weight: normal; line-height: 2; font-size: 14px;">октябрь 2021</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top:10px;border-top:1px solid #e4e2e2">
                    <h3 style="color:#303030; font-size:18px; line-height: 1.6; font-weight:500;">Уважаемый
                        предпрениматель,</h3>
                    <p style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                        в связи с многочисленными обращениями от жителей города Москвы о нарушении экологической
                        обстановки. в частности загрязнения атмосферного воздуха, около воздушного пространства Вашего
                        предприятия, предлагаем Вам внести корректировки в работе предприятия для улучшения ситуации.
                        Предложения по улучшению экологической обстановки и возможный ход работы предоставить в
                        общепринятом формате:
                        <br><br>РЕЕСТРОВЫЙ НОМЕР ОТКРЫТОГО АУКЦИОНА № [номер извещения, 19 символов по
                        44 ФЗ или 13 символов по 223 ФЗ]
                    </p>
                    <h3 style="color:#303030; font-size:18px; line-height: 1.6; font-weight:500;">Почта:</h3>
                    <p style="background-color:#f1f1f1; padding: 8px 15px; border-radius: 50px; display: inline-block; margin-bottom:20px; font-size: 14px;  line-height: 1.4; font-family: Courier New, Courier, monospace; margin-top:0">
                        mosecom-info@eco.mos.ru</p>

                    <h3 style="color:#303030; font-size:18px; line-height: 1.6; font-weight:500;">В случае улучшения
                        обстановки предлагаем следующее:</h3>
                    <ol style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; padding-left:20px; line-height: 1.6">
                        <li>Сберегательный
                            план (Savings (сберегательный план): 5 - 6%
                            от зарплаты, данная сумма освобождается
                            от налогов + компания вкладывает
                            дополнительно (на 1 долл. США компания
                            дает 0,75 долл. США).
                        </li>
                        <li>Компенсации (Компенсация расходов по оплате труда
                            домашнего персонала).
                        </li>
                        <li>Страховка по
                            здоровью (Оплачивается до 52 недель по болезни от
                            50 до 100% в зависимости от стажа
                            работы; после 52 недель - 50% от
                            зарплаты.
                            Оплачивается страхование жизни).
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                           style="min-width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td style="padding:15px 0px;" valign="top" align="center">
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="border-collapse:separate !important;">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="middle" style="padding:13px;">
                                            <a href="https://mosecom.mos.ru/" title="Перейти" target="_blank"
                                               style="font-size: 14px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none; color:#FFFFFF; border-radius: 50px; background-color:#145388;">Перейти
                                                на сайт</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <table style="margin-top:30px; padding-bottom:20px;; margin-bottom: 40px;">
            <tbody>
            <tr>
                <td align="center" valign="center">
                    <p style="font-size: 12px; text-decoration: none;line-height: 1; color:#909090; margin-top:0px; ">
                        StarTrek Team, г. Санкт-Петербург, 2021
                    </p>
                    <p style="font-size: 12px; line-height:1; color:#909090;  margin-top:5px;">
                        <a href="https://startrekteam.ru/studio"
                           style="color: #145388; text-decoration:none;">Команда</a>
                        | <a href="https://startrekteam.ru/contact" style="color: #145388; text-decoration:none;">Контакты</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
</body>

</html>