<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Moscow Secure Traffic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block link %}
        <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}"/>
        <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}"/>

        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/fullcalendar.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/dataTables.bootstrap4.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/datatables.responsive.bootstrap4.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/perfect-scrollbar.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-stars.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/nouislider.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-datepicker3.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/component-custom-switch.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>


    {% endblock %}
    {#    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">#}

    <style type="text/css">
        .station {
            background-image: url("{% static "img/data.svg" %}");
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .prom {
            background-image: url("{% static "img/prom.svg" %}");
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

        .build {
            background-image: url("{% static "img/build.svg" %}");
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

        .rubbish {
            background-image: url("{% static "img/svalka.svg" %}");
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            min-width: 400px;
            max-height: 500px;
            overflow: auto;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            border-radius: .75rem;
        }

        .filter {
            cursor: pointer;
        }

        .activ {
            color: #184f90 !important;
        }
    </style>
</head>


<body id="app-container" class="menu-default show-spinner">
<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="menu-button d-none d-md-block">
            <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                <rect x="0.48" y="0.5" width="7" height="1"/>
                <rect x="0.48" y="7.5" width="7" height="1"/>
                <rect x="0.48" y="15.5" width="7" height="1"/>
            </svg>
            <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                <rect x="1.56" y="0.5" width="16" height="1"/>
                <rect x="1.56" y="7.5" width="16" height="1"/>
                <rect x="1.56" y="15.5" width="16" height="1"/>
            </svg>
        </a>

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1"/>
                <rect x="0.5" y="7.5" width="25" height="1"/>
                <rect x="0.5" y="15.5" width="25" height="1"/>
            </svg>
        </a>

        {% block filtr %}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-backdrop="static"
                    data-target="#exampleModalRight">Слои и фильтры
            </button>
        {% endblock %}
    </div>


    {#    <a class="navbar-logo" href="Dashboard.Default.html">#}
    {#        <span class="logo d-none d-xs-block"></span>#}
    {#        <span class="logo-mobile d-block d-xs-none"></span>#}
    {#    </a>#}

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">
            <div class="d-none d-md-inline-block align-text-bottom mr-3">
                <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                     data-toggle="tooltip" data-placement="left" title="Темный режим">
                    <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                    <label class="custom-switch-btn" for="switchDark"></label>
                </div>
            </div>

            <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                <i class="simple-icon-size-fullscreen"></i>
                <i class="simple-icon-size-actual"></i>
            </button>

        </div>

    </div>
</nav>
{% block content %}
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="{% url 'map' %}">{# #dashboard #}
                            <i class="simple-icon-map"></i>
                            <span>Карта контроля</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'statistics' %}">{# #layouts#}
                            <i class="iconsminds-monitor-analytics"></i> Статистика
                        </a>
                    </li>
                    {#                    <li>#}
                    {#                        <a href="{% url 'predict' %}">{# #applications#}
                    {#                            <i class="iconsminds-statistic"></i> Прогноз#}
                    {#                        </a>#}
                    {#                    </li>#}
                    <li>
                        <a href="{% url 'location' %}">{# #ui#}
                            <i class="iconsminds-map2"></i> Засечь место
                        </a>
                    </li>
                    {#                    <li>#}
                    {#                        <a href="{% url 'create_model' %}">{# #menu#}
                    {#                            <i class="iconsminds-coding"></i> Создание модели#}
                    {#                        </a>#}
                    {#                    </li>#}
                    <li>
                        <a href="{% url 'docs' %}">
                            <i class="iconsminds-library"></i> Информация
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" id="veshestva"
         style="z-index: 1030; position: absolute; margin-top: 120px; left: 10%; right: 10%; display: none">
        <div class="alert alert-danger rounded" role="alert">
            <strong>Внимание!</strong> Превышен показатель CO вблизи станции Академика Анохина.
            <sup>
                <button id="close_alert" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </sup>
        </div>
    </div>

    <div id="map" style="max-width: 100%;"></div>

    <div class="modal fade modal-right" id="exampleModalRight" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalRight" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Слои и фильтры</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div id="list" class="row" align="center">
                        <a id="station" href="#" class="col icon-menu-item activ ">
                            <i class="iconsminds-berlin-tower d-block" style="font-size: 2rem"></i>
                            <span>Метеостанции</span>
                        </a>

                        <a id="breez" href="#" class="col icon-menu-item activ">
                            <i class="iconsminds-windy d-block" style="font-size: 2rem"></i>
                            <span>Качество воздуха</span>
                        </a>
                    </div>
                    <div class="row" align="center">
                        <a id="car" href="#" class="col icon-menu-item activ">
                            <i class="iconsminds-traffic-light d-block" style="font-size: 2rem"></i>
                            <span>Автомобильный трафик</span>
                        </a>

                        <a href="#" id="popul" class="col icon-menu-item">
                            <i class="iconsminds-mens d-block" style="font-size: 2rem"></i>
                            <span>Плотность населения</span>
                        </a>
                    </div>
                    <div class="row" align="center">
                        <a id="build" href="#" class="col icon-menu-item">
                            <i class="iconsminds-building d-block" style="font-size: 2rem"></i>
                            <span>Строительство</span>
                        </a>

                        <a href="#" id="rub" class="col icon-menu-item">
                            <i class="iconsminds-recycling-2 d-block" style="font-size: 2rem"></i>
                            <span>Полигон ТБО</span>
                        </a>
                    </div>
                    <div class="row" align="center">
                        <a id="prom" href="#" class="col icon-menu-ite">
                            <i class="iconsminds-power-station d-block" style="font-size: 2rem"></i>
                            <span>Промышленность</span>
                        </a>

                        <a href="#" id="weather-btn" class="col icon-menu-item">
                            <i class="iconsminds-cloud-weather d-block" style="font-size: 2rem"></i>
                            <span>Погода</span>
                        </a>
                    </div>

                    <div class="form-group mt-2" id="veva">
                        <label class="mt-4">Вещества в воздухе</label>
                        <table class="table table-hover">
                            <tbody>
                            <tr class="odd shadow-lg vev" id="co">
                                <th scope="row"><span class="badge badge-secondary mr-2">CO</span></th>
                                <td colspan="2">Оксид углерода</td>
                            </tr>
                            <tr class="even vev" id="no">
                                <th scope="row"><span class="badge badge-secondary mr-2">NO</span></th>
                                <td colspan="2">Оксид азота (II)</td>
                            </tr>
                            <tr class="odd vev" id="no2">
                                <th scope="row"><span class="badge badge-secondary mr-2">NO2</span></th>
                                <td colspan="2">Оксид азота (IV)</td>
                            </tr>
                            <tr class="even vev" id="pm10">
                                <th scope="row"><span class="badge badge-secondary mr-2">PM10</span></th>
                                <td colspan="2">PM10</td>
                            </tr>
                            <tr class="even vev" id="pm25">
                                <th scope="row"><span class="badge badge-secondary mr-2">PM2.5</span></th>
                                <td colspan="2">PM2.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group mt-2" style="display: none" id="wthr">
                        <label>Погода по</label>
                        <table class="table table-hover">
                            <tbody>
                            <tr role="row" class="odd">
                                <td>
                                    <p id="temp" class="list-item-heading filter p-1"><span
                                            class="badge badge-secondary mr-2">temp</span>Температура</p>
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td>
                                    <p id="pressure" class="list-item-heading filter p-1"><span
                                            class="badge badge-secondary mr-2">pressure</span>Давление</p>
                                </td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>
                                    <p id="humidity" class="list-item-heading p-1 filter"><span
                                            class="badge badge-secondary mr-2">humidity</span>Влажность</p>

                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td>
                                    <p id="precipitation" class="list-item-heading filter p-1"><span
                                            class="badge badge-secondary mr-2">precipitation</span>Осадки</p>

                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td>
                                    <p id="speed" class="list-item-heading filter p-1"><span
                                            class="badge badge-secondary mr-2">wind</span>Ветер</p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary"
                            data-dismiss="modal">Отмена
                    </button>
                    <button type="button" class="btn btn-primary">Применить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<footer class="page-footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row sha">
                <div class="col-12 col-sm-6">
                    <a href="https://startrekteam.ru/">
                        <p class="mb-0 text-muted"><img src="{% static 'logos/logoStarTrek.svg' %}"
                                                        style="height: 50px;">StarTrek Team 2021</p>
                    </a>
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                    <ul class="list-unstyled pt-0 pr-0 float-right">
                        <li class=" mb-0">
                            <p href="#" class="" style="line-height: 0">Телефон: 8 (988) 888 14 37</p>
                        </li>
                        <li class=" mb-0">
                            <p href="#" class="" style="line-height: 0">Email: startrekteam@mail.ru</p>
                        </li>
                        <li class=" mb-0">
                            <p href="#" class="" style="line-height: 0">Фактический адрес: г. Санкт-Петербург</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block script %}
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables.min.js' %}"></script>
    <script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/progressbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/vendor/Sortable.js' %}"></script>
    <script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/docs.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=0f5c46ab-d8c9-4489-b1cb-09582c08719c&modules=traffic&lang=ru_RU"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            ymaps.ready(init);

            function init() {
                // Создание карты.
                var myMap = new ymaps.Map("map", {
                    // Координаты центра карты.
                    // Порядок по умолчанию: «широта, долгота».
                    // Чтобы не определять координаты центра карты вручную,
                    // воспользуйтесь инструментом Определение координат.
                    center: [55.76, 37.64],
                    // Уровень масштабирования. Допустимые значения:
                    // от 0 (весь мир) до 19.
                    zoom: 7
                });
            }

        });
    </script>

{% endblock %}
</body>


</html>