{% extends 'index.html' %}
{% load static %}

{% block filtr %}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/timeline2.css' %}"/>
    <style type="text/css">
        .station {
            background-image: url("{% static "img/data.svg" %}");
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
        .activation {
            border: 1px solid rgba(0,0,0,0.5);
            box-shadow: 0 0 10px black;
        }
    </style>
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'map' %}">{# #dashboard #}
                            <i class="simple-icon-map"></i>
                            <span>Карта контроля</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'statistics' %}">{# #layouts#}
                            <i class="iconsminds-monitor-analytics"></i> Статистика
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'predict' %}">{# #applications#}
                            <i class="iconsminds-statistic"></i> Прогноз
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'location' %}">{# #ui#}
                            <i class="iconsminds-map2"></i> Блиц
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'create_model' %}">{# #menu#}
                            <i class="iconsminds-coding"></i> Матрица
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'docs' %}">
                            <i class="iconsminds-library"></i> Информация
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Прогноз состояния дорожной ситуации</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'map' %}">Карта контроля</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'predict' %}">Прогноз</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'location' %}">Блиц</a>
                            </li>
                        </ol>
                    </nav>
                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 mb-5">
                    <h5 class="mb-5">Визуализация нейронной сети</h5>

                    <div class="card mb-4">
                        <div class="card-body">
                            <img id="img" src="" width="100%">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <h5 class="mb-5">Оценка дорожной ситуации</h5>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Таймлайн предсказания</h5>
                            <form id="exampleForm" class="tooltip-label-right" novalidate>
                                <div class="form-group position-relative error-l-50">
                                    <label>Текущее время + </label>
                                    <select id="selector" class="custom-select" required>
                                        <option value=""></option>
                                        <option value="1">1 час</option>
                                        <option value="2">2 часа</option>
                                        <option value="3">3 часа</option>
                                        <option value="4">4 часа</option>
                                        <option value="4">5 часов</option>
                                        <option value="6">6 часов</option>
                                    </select>
                                </div>
                                <div class="form-group position-relative error-l-50">
                                    <h5 class="mb-4">Состояние:</h5>
                                    <h5 id="obsh" class="mb-4">Загруженность трафика оценивается в </h5>
                                </div>
                                <div class="form-group position-relative error-l-50">
                                    <h5 class="mb-4">Состояние по округам:</h5>
                                    <h5 id="szao" class="mb-4">СЗАО: </h5>
                                    <h5 id="sao" class="mb-4">САО: </h5>
                                    <h5 id="vao" class="mb-4">ВАО: </h5>
                                    <h5 id="svao" class="mb-4">СВАО: </h5>
                                    <h5 id="uvau" class="mb-4">ЮВАУ: </h5>
                                    <h5 id="cao" class="mb-4">ЦАО: </h5>
                                    <h5 id="zao" class="mb-4">ЗАО: </h5>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables.min.js' %}"></script>
    <script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/progressbar.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/vendor/dateFormat.js' %}"></script>
    <script src="{% static 'js/vendor/dateFormat.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-dateformat.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-dateformat.min.js' %}"></script>
    <script src="{% static 'js/vendor/Sortable.js' %}"></script>
    <script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/startrek.script.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#selector').change(function () {
                setTimeout(() => { if (this.value == 1) {
                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    let szao = getRandomInt(1, 10);
                    let sao = getRandomInt(1, 10);
                    let vao = getRandomInt(1, 10);
                    let svao = getRandomInt(1, 10);
                    let cao = getRandomInt(1, 10);
                    let uvau = getRandomInt(1, 10);
                    let zao = getRandomInt(1, 10);
                    let obsh = ((szao + sao + vao + svao + cao + uvau + zao) / 7).toFixed(1)
                    $('#img').attr('src', '')
                    $('#obsh').text('Загруженность трафика оценивается в ')
                    $('#szao').text('СЗАО: ')
                    $('#sao').text('САО: ')
                    $('#vao').text('ВАО: ')
                    $('#svao').text('СВАО: ')
                    $('#cao').text('ЮВАУ: ')
                    $('#uvau').text('ЦАО: ')
                    $('#zao').text('ЗАО: ')

                    $('#img').attr('src', '{% static 'js/predict/4.gif' %}')
                    $('#obsh').text($('#obsh').text() + obsh + ' бал.')
                    $('#szao').text($('#szao').text() + szao + ' бал.')
                    $('#sao').text($('#sao').text() + sao + ' бал.')
                    $('#vao').text($('#vao').text() + vao + ' бал.')
                    $('#svao').text($('#svao').text() + svao + ' бал.')
                    $('#cao').text($('#cao').text() + cao + ' бал.')
                    $('#uvau').text($('#uvau').text() + uvau + ' бал.')
                    $('#zao').text($('#zao').text() + zao + ' бал.')
                } }, 1000);
                setTimeout(() => { if (this.value == 2) {
                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    let szao = getRandomInt(1, 10);
                    let sao = getRandomInt(1, 10);
                    let vao = getRandomInt(1, 10);
                    let svao = getRandomInt(1, 10);
                    let cao = getRandomInt(1, 10);
                    let uvau = getRandomInt(1, 10);
                    let zao = getRandomInt(1, 10);
                    let obsh = ((szao + sao + vao + svao + cao + uvau + zao) / 7).toFixed(1)
                    $('#img').attr('src', '')
                    $('#obsh').text('Загруженность трафика оценивается в ')
                    $('#szao').text('СЗАО: ')
                    $('#sao').text('САО: ')
                    $('#vao').text('ВАО: ')
                    $('#svao').text('СВАО: ')
                    $('#cao').text('ЮВАУ: ')
                    $('#uvau').text('ЦАО: ')
                    $('#zao').text('ЗАО: ')

                    $('#img').attr('src', '{% static 'js/predict/5.gif' %}')
                    $('#obsh').text($('#obsh').text() + obsh + ' бал.')
                    $('#szao').text($('#szao').text() + szao + ' бал.')
                    $('#sao').text($('#sao').text() + sao + ' бал.')
                    $('#vao').text($('#vao').text() + vao + ' бал.')
                    $('#svao').text($('#svao').text() + svao + ' бал.')
                    $('#cao').text($('#cao').text() + cao + ' бал.')
                    $('#uvau').text($('#uvau').text() + uvau + ' бал.')
                    $('#zao').text($('#zao').text() + zao + ' бал.')
                }}, 2000);
                setTimeout(() => { if (this.value == 3) {
                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    let szao = getRandomInt(1, 10);
                    let sao = getRandomInt(1, 10);
                    let vao = getRandomInt(1, 10);
                    let svao = getRandomInt(1, 10);
                    let cao = getRandomInt(1, 10);
                    let uvau = getRandomInt(1, 10);
                    let zao = getRandomInt(1, 10);
                    let obsh = ((szao + sao + vao + svao + cao + uvau + zao) / 7).toFixed(1)
                    $('#img').attr('src', '')
                    $('#obsh').text('Загруженность трафика оценивается в ')
                    $('#szao').text('СЗАО: ')
                    $('#sao').text('САО: ')
                    $('#vao').text('ВАО: ')
                    $('#svao').text('СВАО: ')
                    $('#cao').text('ЮВАУ: ')
                    $('#uvau').text('ЦАО: ')
                    $('#zao').text('ЗАО: ')

                    $('#img').attr('src', '{% static 'js/predict/6.gif' %}')
                    $('#obsh').text($('#obsh').text() + obsh + ' бал.')
                    $('#szao').text($('#szao').text() + szao + ' бал.')
                    $('#sao').text($('#sao').text() + sao + ' бал.')
                    $('#vao').text($('#vao').text() + vao + ' бал.')
                    $('#svao').text($('#svao').text() + svao + ' бал.')
                    $('#cao').text($('#cao').text() + cao + ' бал.')
                    $('#uvau').text($('#uvau').text() + uvau + ' бал.')
                    $('#zao').text($('#zao').text() + zao + ' бал.')
                }}, 4000);
                setTimeout(() => { if (this.value == 4) {
                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    let szao = getRandomInt(1, 10);
                    let sao = getRandomInt(1, 10);
                    let vao = getRandomInt(1, 10);
                    let svao = getRandomInt(1, 10);
                    let cao = getRandomInt(1, 10);
                    let uvau = getRandomInt(1, 10);
                    let zao = getRandomInt(1, 10);
                    let obsh = ((szao + sao + vao + svao + cao + uvau + zao) / 7).toFixed(1)
                    $('#img').attr('src', '')
                    $('#obsh').text('Загруженность трафика оценивается в ')
                    $('#szao').text('СЗАО: ')
                    $('#sao').text('САО: ')
                    $('#vao').text('ВАО: ')
                    $('#svao').text('СВАО: ')
                    $('#cao').text('ЮВАУ: ')
                    $('#uvau').text('ЦАО: ')
                    $('#zao').text('ЗАО: ')

                    $('#img').attr('src', '{% static 'js/predict/7.gif' %}')
                    $('#obsh').text($('#obsh').text() + obsh + ' бал.')
                    $('#szao').text($('#szao').text() + szao + ' бал.')
                    $('#sao').text($('#sao').text() + sao + ' бал.')
                    $('#vao').text($('#vao').text() + vao + ' бал.')
                    $('#svao').text($('#svao').text() + svao + ' бал.')
                    $('#cao').text($('#cao').text() + cao + ' бал.')
                    $('#uvau').text($('#uvau').text() + uvau + ' бал.')
                    $('#zao').text($('#zao').text() + zao + ' бал.')
                }}, 8000);
                setTimeout(() => { if (this.value == 5) {
                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    let szao = getRandomInt(1, 10);
                    let sao = getRandomInt(1, 10);
                    let vao = getRandomInt(1, 10);
                    let svao = getRandomInt(1, 10);
                    let cao = getRandomInt(1, 10);
                    let uvau = getRandomInt(1, 10);
                    let zao = getRandomInt(1, 10);
                    let obsh = ((szao + sao + vao + svao + cao + uvau + zao) / 7).toFixed(1)
                    $('#img').attr('src', '')
                    $('#obsh').text('Загруженность трафика оценивается в ')
                    $('#szao').text('СЗАО: ')
                    $('#sao').text('САО: ')
                    $('#vao').text('ВАО: ')
                    $('#svao').text('СВАО: ')
                    $('#cao').text('ЮВАУ: ')
                    $('#uvau').text('ЦАО: ')
                    $('#zao').text('ЗАО: ')

                    $('#img').attr('src', '{% static 'js/predict/4.gif' %}')
                    $('#obsh').text($('#obsh').text() + obsh + ' бал.')
                    $('#szao').text($('#szao').text() + szao + ' бал.')
                    $('#sao').text($('#sao').text() + sao + ' бал.')
                    $('#vao').text($('#vao').text() + vao + ' бал.')
                    $('#svao').text($('#svao').text() + svao + ' бал.')
                    $('#cao').text($('#cao').text() + cao + ' бал.')
                    $('#uvau').text($('#uvau').text() + uvau + ' бал.')
                    $('#zao').text($('#zao').text() + zao + ' бал.')
                }}, 16000);
                setTimeout(() => { if (this.value == 6) {
                    function getRandomInt(min, max) {
                        return Math.floor(Math.random() * (max - min)) + min;
                    }
                    let szao = getRandomInt(1, 10);
                    let sao = getRandomInt(1, 10);
                    let vao = getRandomInt(1, 10);
                    let svao = getRandomInt(1, 10);
                    let cao = getRandomInt(1, 10);
                    let uvau = getRandomInt(1, 10);
                    let zao = getRandomInt(1, 10);
                    let obsh = ((szao + sao + vao + svao + cao + uvau + zao) / 7).toFixed(1)
                    $('#img').attr('src', '')
                    $('#obsh').text('Загруженность трафика оценивается в ')
                    $('#szao').text('СЗАО: ')
                    $('#sao').text('САО: ')
                    $('#vao').text('ВАО: ')
                    $('#svao').text('СВАО: ')
                    $('#cao').text('ЮВАУ: ')
                    $('#uvau').text('ЦАО: ')
                    $('#zao').text('ЗАО: ')

                    $('#img').attr('src', '{% static 'js/predict/5.gif' %}')
                    $('#obsh').text($('#obsh').text() + obsh + ' бал.')
                    $('#szao').text($('#szao').text() + szao + ' бал.')
                    $('#sao').text($('#sao').text() + sao + ' бал.')
                    $('#vao').text($('#vao').text() + vao + ' бал.')
                    $('#svao').text($('#svao').text() + svao + ' бал.')
                    $('#cao').text($('#cao').text() + cao + ' бал.')
                    $('#uvau').text($('#uvau').text() + uvau + ' бал.')
                    $('#zao').text($('#zao').text() + zao + ' бал.')
                }}, 32000);
            });
        });

    </script>

{% endblock %}